.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ProjectName {
    font-size: 40px;
}

.redactorButton {
    cursor: pointer;
    position: fixed;
    z-index: 3;
    top: 5%;
    right: 5%;
}








